.about {
  width: 61%;
  display: flex;
  justify-content: space-between;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      margin: 0;
      font-family: 'Righteous', cursive;
      text-transform: uppercase;
      font-size: 3em;
      font-weight: normal;
      z-index: 1;
      position: relative;
    }

    &__text {
      display: flex;
      padding-left: 20px;

      span {
        height: 75px;
        border-right: 3px solid lighten(#868593, 30%);
        margin-right: 20px;
        position: relative;
        bottom: 15px;
        z-index: 0;
      }

      div {
        padding-top: 20px;

        p {
          color: #868593;
          line-height: 1.5;
          font-size: 1.125em;
        }

        button {
          font-family: 'Righteous', cursive;
          appearance: none;
          border: none;
          background-color: #fff;
          color: #06022f;
          margin-top: 20px;
          padding: 0;
          font-size: 1em;
          cursor: pointer;

          &:hover {
            box-shadow: inset 0px -8px 0px 0px #00e3fe;
          }
        }
      }
    }
  }

  &__image {
    width: 45%;
    height: 450px;
    background: url("../../images/about_us.png") center no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
  }

  @media(min-width: 1600px) {
    &__content {
      width: 43%;
    }
  }

  @media(min-width: 1920px) {
    &__image {
      width: 45%;
      height: 580px;
    }
  }
}
