.about {
  width: 61%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;

    &__title {
      margin: 0;
      font-family: 'Righteous', cursive;
      text-transform: uppercase;
      font-size: 3em;
      font-weight: normal;
      z-index: 1;
      position: relative;
    }

    &__text {
      display: flex;
      padding-left: 20px;

      span {
        height: 75px;
        border-right: 3px solid lighten(#868593, 30%);
        margin-right: 20px;
        position: relative;
        bottom: 15px;
        z-index: 0;
      }

      div {
        p {
          color: #868593;
          line-height: 1.5;
          font-size: 1.125em;
          margin-top: 20px;
        }

        button {
          font-family: 'Righteous', cursive;
          appearance: none;
          border: none;
          background-color: #fff;
          color: #06022f;
          margin-top: 20px;
          padding: 0;
          font-size: 1em;
          cursor: pointer;

          &:hover {
            box-shadow: inset 0px -8px 0px 0px #00e3fe;
          }
        }
      }
    }
  }

  &__image {
    width: 45%;
    height: 30vw;
    background: url("../../images/about_us.png") center no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
  }

  @media (max-width: 1200px) {
    width: 70%;

    &__image {
      height: 37vw;
    }
  }

  @media(max-width: 1023px) {
    width: 86vw;
    margin: 0 auto;
    padding-bottom: 10vw;

    &__content {
      width: auto;

      &__title {
        font-size: 4vw;
      }

      &__text {
        padding-left: 1vw;
        
        span {
          height: 10vw;
          margin-right: 2vw;
          border-right-width: .3vw;
          bottom: 1.5vw;
        }

        div {
          p {
            font-size: 3vw;
            margin-top: 3vw;
          }
  
          button {
            display: none;
          }
        } 
      }
    }

    &__image {
      display: none;
    }
  }
}
