.banner {
  margin-top: 20px;
  width: 100%;

  &__intro {
    background: url("../../images/banner_background.png") no-repeat;
    background-size: cover;
    height: 840px;
    width: 100%;

    &__title {
      width: 75%;
      max-width: 1200px;
      margin: auto;
      padding-top: 130px;
      color: #fff;

      h1 {
        width: 40%;
        font-family: 'Righteous', cursive;
        font-weight: normal;
        font-size: 5em;
        letter-spacing: 2px;
        margin: 0;
      }

      p {
        font-size: 1.5em;
        width: 45%;
        max-width: 700px;
      }
    }
  }
}

@media(min-width: 1920px) {
  .banner {
    &__intro {
      height: 1110px;

      &__title {
        h1 {
          width: 50%;
          font-size: 7em;
        }

        p {
          width: 55%;
          font-size: 2em;
        }
      }
    }

    &__divisor {
      top: 200px;
    }
  }
}

@media(min-width: 2560px) {
  .banner {
    &__intro {
      height: 1500px;

      &__title {
        max-width: 1500px;
        padding-top: 250px;

        h1 {
          width: 45%;
          font-size: 8em;
        }

        p {
          width: 45%;
          font-size: 2em;
        }
      }
    }
  }
}
