.footer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  background-color: #f1f2f4;
  position: relative;
  bottom: 160px;
  z-index: 0;

  &__limiter {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 67.7%;
    padding: 130px 0 47px;
  }

  &__box {
    flex: 1;
    width: 25.5%;
    margin-left: 10px;

    &__logo {
      width: 71%;
      margin-bottom: 25px;
    }

    &__icons {
      width: 55%;
      display: flex;
      justify-content: space-between;
      position: relative;

      &--mobile {
        display: none;

        i {
          &:hover, &:active {
            color: #3e05c3;
          }
        }
      }

      i {
        font-size: 1.7em;
        color: lighten(#868593, 20%);
        cursor: pointer;

        &:hover, &:focus {
          color: #3e05c3;
        }
      }
    }
  }

  &__links {
    flex: 1;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      li {
        margin-bottom: 10px;
        font-size: 1.125em;
        cursor: pointer;

        &:hover, &:active {
          box-shadow: inset 0px -8px 0px 0px #00e3fe;
        }
      }
    }
  }

  &__partner {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      width: 65%;
    }
  }

  &__decoration {
    position: absolute;
  }

  @media(min-width: 1920px) {
    bottom: 200px;

    &__limiter {
      padding: 200px 0 47px;
    }
  }

  @media(max-width: 1023px) {
    z-index: 9999;
    margin-top: 0;
    bottom: 12.5vw;
    background-color: transparent;

    &__limiter {
      padding: 0;
      flex-wrap: wrap;
      width: 100%;

      div {
        flex: 1 1 40%;
      }
    }

    &__box {
      order: 3;
      align-self: flex-end;

      &__logo {
        width: 36vw;
      }

      &__icons {
        display: none;

        i {
          font-size: 4vw;
        }
  
        &--mobile {
          align-self: flex-start;
          display: flex;
          order: 2;
        }
      }
    }

    &__links {
      order: 1;
      padding: 0;

      ul li {
        font-size: 3vw;

        &:focus {

        }
      }
    }

    &__partner {
      order: 4;

      img {
        width: 36vw;
        position: relative;
        bottom: 4vw;
      }
    }
  }
}
