.form {
  width: 55%;
  color: #fff;
  background-color: #353387;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 8%;
  z-index: 1;

  h3 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Righteous', cursive;
    font-size: 2em;
    font-weight: 400;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input, textarea {
      width: 70%;
      height: 40px;
      margin-bottom: 30px;
      background-color: #3e05c3;
      border: 2px solid #2f0495;
      color: #fff;
      padding-left: 20px;
      font-family: inherit;
      font-size: 1em;

      &::-webkit-input-placeholder {
        color: #fff;
      }

      &:hover, &:focus {
        border: 2px solid #e60b6f;
      }
    }

    textarea {
      height: 125px;
      padding-top: 15px;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    button {
      position: relative;
      appearance: none;
      border-radius: 20px;
      background-color: #e60b6f;
      border: 3px solid #353387;
      width: 11%;
      height: 40px;
      font-size: 1em;
      color: #fff;
      box-shadow: 3px 4px 0 -2px #e60b6f;
      cursor: pointer;

      &:hover, &:focus {
        top: 4px;
        left: 3px;
        box-shadow: none;
        outline: none;
      }
    }
  }

  @media(min-width: 1920px) {
    width: 50%;
    margin-right: 11%;

    h3 {
      font-size: 3em;
      margin-top: 90px;
      margin-bottom: 120px;
    }

    form {
      input {
        height: 50px;
        font-size: 1.1em;
      }

      textarea {
        font-size: 1.1em;
      }
    }

    &__bottom {
      button {
        width: 13%;
        height: 45px;
        margin-top: 10px;
      }
    }
  }
}
