.header {
  display: flex;

  &__container {
    max-width: 61%;
    margin: 0 auto 14px;
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;

    &__logo {
      width: 25.5%;
      margin-left: 10px;
    }

    &__menu {
      width: 63%;

      ul {
        height: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0;

        button {
          text-decoration: none;
          color: inherit;
        }

        li {
          font-size: 1.125em;
          letter-spacing: 1px;
          cursor: pointer;

          &:hover {
            box-shadow: inset 0px -10px 0px 0px #e5076c;
          }
        }
      }

      @media(min-width: 1600px) {
        padding-bottom: 11px;
      }
    }
  }
}
