.payment {
  width: 100%;

  &__decoration {
    display: flex;

    &__image {
      background: url('../../images/payment.jpg') center no-repeat;
      background-size: cover;
      position: relative;
      width: 35%;
      height: 250px;
      left: 7%;
      bottom: 200px;
      z-index: 1;
    }

    &__blue-box {
      position: relative;
      background-color: #353387;
      width: 30%;
      height: 200px;
      right: 42%;
      bottom: 100px;
      z-index: 0;
    }
  }
}

@media(min-width: 1920px) {
  .payment__decoration {
    &__image {
      height: 400px;
      left: 10%;
      bottom: 300px;
    }

    &__blue-box {
      height: 350px;
      right: 35%;
      bottom: 150px;
    }
  }
}
