.slider {
  background: url('../../images/slider_background.png') no-repeat;
  background-size: 100% 100%;
  display: flex;

  &__container {
    width: 93%;
    margin-left: calc((100% - 61%) / 2);
    margin-bottom: 163px;
    overflow: hidden;
  }

  &__header {
    margin: 170px 0 70px;

    h2 {
      font-size: 3.4vw;
      font-family: 'Righteous', cursive;
      font-weight: 300;
      color: #fff;
    }
  }

  &__carousel {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    position: relative;
    width: 120%;

    p, h2 {
      margin: 0;
    }
  }
}
