.slider-box {
  display: block;
  width: 80%;
  color: #fff;
  flex-shrink: 0;

  &__image {
    width: 100%;
    height: 350px;
    background: center no-repeat;
    background-size: cover;

    &--first {
      background-image: url('../../images/carousel_01.png');
    }
    
    &--second {
      background-image: url('../../images/carousel_02.png');
    }
    
    &--third {
      background-image: url('../../images/carousel_03.png');
    }

    @media(max-width: 1300px) {
      height: 300px;
    }
  }

  &__legend {
    display: flex;
    align-items: baseline;
    position: relative;
    bottom: 35px;
    padding-left: 2%;

    h2 {
      color: transparent;
      font-size: 4em;
      text-stroke: 3px #fff;
      -webkit-text-stroke: 3px #fff;
    }

    span {
      width: 7px;
      height: 7px;
      border: 2px solid #fff;
      margin: 0 2.5%;
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__description {
    padding: 0 10px;
  }
  
  @media(min-width: 1600px) {
    &__image {
      height: 400px;
    }
  }
  
  @media(min-width: 1920px) {
    &__image {
      height: 480px;
    }
  }
  
  @media(min-width: 2560px) {
    &__image {
      height: 600px;
    }
  }
}
